body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFE9F3;
}

#header {
    background-color: #87BAAB;
    color: #2B3A67;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    padding: 10px;
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
}

#object {
    padding: 20px;
    align-content: center;
    background-color: #BF1A2F;
    width: 320px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px salmon solid;
    border-left: 3px salmon solid;
    border-right: brown 3px solid;
    border-bottom: brown 3px solid;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 320px;
    width: 320px;
    border-top: 3px brown solid;
    border-left: 3px brown solid;
    border-right: salmon 3px solid;
    border-bottom: salmon 3px solid;
    background-color: white;
}

#row { 
    display: flex;
    flex-direction: column;
    flex: 1;
}

#column {
    display: flex;
    flex: 1;

}

#toolBar {
    display: flex;
    padding-top: auto;
    padding-bottom: auto;
    justify-content: space-between;
    height: 100px;
    margin-top: 20px;
    
}

#nob {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: grey;
    border-top: white solid 1px;
    border-left: white solid 1px;
}

/* #buttons {
    margin-top: auto;
    margin-bottom: auto;
} */

button {
    background-color: slategray;
    color: white;
    border-radius: 10px;
    border-width: 1px;
    width: 60px;
}

#grids {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
}



#colors {
    display: flex;
    justify-content: space-around;
}

#black {
    color: black;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#cleanUp {
    display: flex;
    justify-content: space-around;
}
